<p>get-all-open-tickets works!</p>
<h2>Open Tickets</h2>
 
<p *ngIf="loading">Loading tickets...</p>

<p class="error" *ngIf="errorMessage">
  {{ errorMessage }}
</p>

<table *ngIf="!loading && tickets.length>0">
  <thead>
    <tr>
      <th>Ticket ID</th>
      <th>Title</th>
      <th>Category</th>
      <th>Status</th>
      <th>Agent</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let t of tickets">
      <td>{{ t.ticketId }}</td>
      <td>{{ t.title }}</td>
      <td>{{ t.category }}</td>
      <td>{{ t.status }}</td>
  
      <td>
        <span *ngIf="t.assignedAgentId; else noAgent">
          {{ t.assignedAgentId }}
        </span>
        <ng-template #noAgent>
          <span class="unassigned">No agent assigned</span>
        </ng-template>
      </td>

      <td>
        <button (click)="viewTicket(t.ticketId)">View</button>

       
      </td>
    </tr>
  </tbody>
</table>


<p *ngIf="!loading && tickets.length === 0">
  No open tickets found
</p>
